<!DOCTYPE html>
<html>
    <head>
        <title>{{portal}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Hasło dla loginu: {{login}} zostało zresetowane i ustawione na {{password}}
        <br/>
        {{footer}}
    </body>
</html>
