<!DOCTYPE html>
<html>
    <head>
        <title>{{portal}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Zostałeś dodany do {{portal}} jako {{role}}, <br/>Twój login: {{login}}<br/>Twoje hasło: {{password}}</div>

        Proszę o potwierdzenie zgody na przetwarzanie danych osobowych przez {{portal}} ;)
        <a href="{{link}}" target="_blank">Kliknij aby zaakcpetować przetwarzanie danych osobowych przez {{portal}}</a>
       
        <p>{{footer}}</p>
    </body>
</html>
